@{
    ViewData["Title"] = "Hello World";
}

<div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="display-4"></h1>
    <p>Hello World</p>
</div>

<html>
<body>
	

	<script>
		{
			alert("Welcome"); 

		}
	</script>
</body>
</html>






